/* *{
	margin: 0;
	padding: 0;
} */
/* body {
	background-size: 150%;
	background-repeat: no-repeat;
	background-image: url(); 
	background-color: #E4E0BD;
	margin: 1rem;
  	padding: 1rem;
  	max-width: 500px;
  	margin: 2rem auto;
  	font-family: 'Montserrat', sans-serif;
	/* text-shadow: 0 0 2px #ffff; */
/* } */ 

*{	padding: 0;
    margin: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	
	
}
body {
	height: 100%;
	}
	
html {
	height: 100%;
	}
/* nav {
	border-bottom: 3px solid #fff;
} */

ol {
	padding-left: 0;
}

.flex{
	display:flex;
	gap: var(--gap, 1rem);
}

.logo{
	margin: 1 rem;
}

.primary-header{
	align-items: center;
}

/* .navbar {
	overflow: hidden;
	background-color: #222;
	position: fixed;
	top: 0;
	width: 100%;
  }

  .navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition-duration: 0.25s;
  }

  .navbar a:hover {
	background: #ccc;
	color: black;
  } */

/* BEGINNING OF HOME STYLING */


body.home{
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url('https://i.ytimg.com/vi/iqA5o9bn4SQ/maxresdefault.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: 'Carbon';
	font-style: normal;
	font-weight: 100;
	
}

.container{
	width: 360px;
	height: 400px;
	margin: 8% auto;
	background: #fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

h3{
	text-align: center;
	margin-bottom: 40px;
	color: #777;
	font-family: Carbon;
}

.container form {
	width: 280px;
	position: absolute;
	top: 100px;
	left: 40px;
	transition: 0.5s;
	
}

form input{
	width: 100%;
	padding: 10px 5px;
	margin: 5px 0;
	border: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

::placeholder{
	color: #777;
}

.btn-box{
	width: 100%;
	margin: 30 px auto;
	text-align: center;

}

form button {
	width: 110px;
	height: 35px;
	margin: 0 10px;
	background: linear-gradient(to right,#83D0CB,#348756);
	border-radius: 30px;
	border: 0;
	outline: none;
	color: #fff;
	cursor: pointer;

}

#Form2{
	left: 450px;
}

#Form3{
	left: 450px;
}

.step-row{
	width: 360px;
	height: 40px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	box-shadow: 0 -1px 5px -1px #000;
	position: relative;
}

.step-col{ 
	width: 120px;
	text-align: center;
	color: #333;
	position: relative;	
}

#progress{
	position: absolute;
	height: 100%;
	width: 120px;
	background: linear-gradient(to right, #145277,#83D0CB, #348756);
	transition: 1s;
}
#progress::after{
	content: '';
	height: 0;
	width: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	right: -20px;
	top: 0;
	border-left: 20px solid #348756;

}
/* END OF HOME STYLING */

body.wishlist{
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url('https://d2kq0urxkarztv.cloudfront.net/61aebc13a1c6b80033b4ca38/3348111/upload-fbf24392-cc2a-48bc-9003-888985992455.jpg?e=webp');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;

}
/* STYLING FOR LOGO */

.text-align-container {
	display: flex;
  }
  .text-align-container-style .logo {
	padding: 20px 0;
	text-align: center;
	width: 100%;
  }
#span{font-family: AstralDelight;
font-size: 3em;
display: inline-block;
color: #fff;
text-align: center;
}

#span::first-letter{
	font-family: seeingstars;
}

/* STYLING FOR ITEM CARDS CONTAINER */
#items-container {
	margin: auto;
	height: 100%;
    display: flex;
	/* flex-direction: column; <---- makes items show up one line each. without flex-direction and flex-wrap, items will show up in one row */
    align-items: center;
	justify-content: center;
	/* causes items to show in even divisions  */
	flex-wrap: wrap;
  }
  #wanted-container {
	margin: auto;
	height: 100%;
    display: flex;
    align-items: center;
	justify-content: center;
}

.header{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 2em;
}
/* STYLING FOR ITEM CARDS */
.item-card {
	/* border: solid 3px #55ADED; */
    background-color: transparent;
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    width: 300px;
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 1%;
	/* display: inline-flex; */
	/* overflow: auto; */
  }

  .item-image {
    width: 200px; 
    height: 300px;	
	line-height: 13px;
	object-fit: contain;

  }
  .name{
	font-family: Carbon;
	font-size: 1.3em;
	text-transform:uppercase;
	text-align: center;
	padding-top: 5%;
  }

  .price{
	font-family: Carbon;
	font-size: 1em;
	text-transform:uppercase;
	text-align: center;
  }

.item-btn{
	display: flex;
	align-items: center;
	padding: 2%;
	border-radius: 30px;
	font-weight: 500;
	font-size: 14px;
}

/* END OF WISHLIST STYLING */

/* .outline{
	background: linear-gradient(45deg, #ad27ad, #26A9E0, #82f057, #e3f057);

} */


.slider{
	position: absolute;
	top: 20%;
	left: 20%;
	width: 350px;
	background-color: #999;
	border-radius: 25px;
	overflow: hidden;
}

.image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	box-sizing: border-box

}

/* .home-item{
	border:solid 3px #000;
}
.container py5{
	border:solid 3px #000;
}
.display-7{
	border:solid 3px #000;
} */

/* .card{
	border: none;
	border-radius: 8px;
	background-color: #145277;
}

.text1{
	font-size: 13;
	color: #83D0CB

}

.info{
	line-height: 13px;
}

.price span{
	color: #000;
	font-weight: bold;
	font-size: 16px;
}

.button-color{
	background: #145277;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
	font-weight: 500;
	font-size: 14px;
} */

ul{
	display: inline-flex;
	overflow: auto;
}

ul > li{
	display: inline-block;
	padding: 10px 20px;
}
#see-all-container{
	text-align: center;

}

body.profile{
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)), url('https://d2kq0urxkarztv.cloudfront.net/61aebc13a1c6b80033b4ca38/3348111/upload-fbf24392-cc2a-48bc-9003-888985992455.jpg?e=webp');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	

}
  /* #items-container1 {
	margin-bottom: 20px;
    display: flex;
    align-items: left;
  } */

.crumb {
	margin-right: 2em;
	display: inline;
	text-shadow: 0 0 3px #83D0CB;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}